body{
    padding:0;
    margin:0;
    overflow-y: hidden;
}
.room{
    width: 100%;
    height: 100%;
    position: absolute;
}
.side-logo{
    width: 120px;
    height: 100px;
    margin-left: 80px;
    margin-top: 20px;
}
.header{
    display: flex;
    flex-direction: row;
    position: absolute;
}
.trophy{
    height: 50px;
    width: 50px;
    transform: rotate(-30deg);
}
.logout{
    height: 40px;
    width: 40px;
    padding: 20px;
    background: url(/Assets/logout.svg) #DE3163;
    margin-left: 150px;
    border:2px solid black;
    border-radius: 40%;
    margin-top: 40px;
    cursor: pointer;
}
.volume{
    height: 40px;
    width: 40px;
    padding: 20px;
    background: url(/Assets/volume.svg) #DE3163;
    margin-left: 230px; 
    margin-top: 40px;
    cursor: pointer;
    border:2px solid black;
    border-radius: 40%;
}
.carpat{
    transform: rotateX(250deg);
    margin-top: 40px;
    margin-left: 300px;
}
.rating{
    width: 430px;
    height: 40px;
    padding-bottom: 20px;
    border-radius: 20px;
    background: #DE3163;
    margin-top: 40px;
    margin-left: 150px;
    border: 2px solid black;
}
.fa{
   font-size: 40px !important;
   margin-left: 20px;
}
.zero{
    font-size: 30px;
    height: 70px !important;
    width: 130px;
    background: white;
    margin-left: 20px;
}
.kitty1{
    position: absolute;
    height: 80px;
    width: 100px;
    margin-top: 230px;
    margin-left: -570px;
}
.kitty2{
    position: absolute;
    height: 80px;
    width: 100px;
    margin-top: 280px;
    margin-left: -680px;
}
.kitty3{
    position: absolute;
    height: 80px;
    width: 100px;
    margin-top: 310px;
    margin-left: -550px;
}
.kitty4{
    position: absolute;
    height: 80px;
    width: 100px;
    margin-top: 350px;
    margin-left: -650px;
}
.bottom{
    width: 550px;
    height: 80px;
    background: #DE3163;
    border: 2px solid black;
    border-radius: 100px;
    position: absolute;
    margin-top: 520px;
    margin-left: 380px;
}
.number{
    margin:13px
}
.num{
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    border: 1px white solid;
    background:maroon  ;
    font-size: 20px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: white; 
}
.button{
   
    
}
.btn1{
    border: 2px solid black;
      padding:10px;
     padding-left: 30px;
     padding-right: 30px;
}
.btn2{
    border: 2px solid black;
    background: darkgreen;
    padding:10px;
}